html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  height: 100%;
}

div.wrapper {
  display: table;
  position: absolute;
  height: 70%;
  width: 100%;
}

div.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

h1 {
  font-weight: normal;
  font-size: 2.8em;
  margin: 0.5em 0 1em 0;
}

img.face {
  max-width: 250px;
  height: auto;
  border-radius: 6px;
}

ul.links i.fa {
  font-size: 30px;
  padding-right: 5px;
}

ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.links a {
  font-size: 1.2em;
  color: #404040;
  text-decoration: none;
}

ul.links a:hover {
  text-decoration: underline;
}
